*{
    margin: 0;
    padding: o;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    margin: 3rem 3rem;
}
header span{
    border-radius: 1rem ;
}
.main{
    display: flex;
    align-content: center;
    text-align: left;
    margin: 5rem 6rem;
    padding: 2rem 10rem;
    margin-left: 0;
    padding-left: 0;
}
.main img{
    width: 250%;
}
.text{
    margin: 7rem 1.5rem;
    padding: 3rem 2rem;
}
.text h1{
    font-size: 3rem;
}
.text p{
    font-size: 1.5rem;
}
.btns{
    text-align: center;
}
.box{
    
    margin: 2rem 5rem;
}
/* .err-msg, .form-msg-err{
    color: red;
    
} */
.form--hidden{
    display: none;
}
form{
    width: 30%;
}
.dep, .cal, .auto{
    display: none;
    
}
.container{
    margin: 5rem .2rem;
    padding: 4rem .2rem;
    gap: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
img{
    width: 38%;
}
.form-input- {
    padding: 1rem 0;
    margin: .3rem 0;
    width: 100%;
}

input{
    padding: 1.5rem 0;
    width: 80%;
    border: none;
    border-radius: .2rem;
    border-bottom: 1px solid;
    transition: linear .6s;
}
input:focus{
    outline: none;
    padding-left: .5rem;
}
input::placeholder{
    padding-left: .5rem ;
}
button{
    border: none;
    padding: 1rem 2rem;
    justify-content: center;
    font-size: 1.5rem;
    background-color: #112fd9;
    color: white;
    border-top-right-radius: 3rem;
    border-bottom-left-radius: 3rem ;
    transition: linear .8s;
    margin: .5rem 0;
}
 button:hover{
    background-color: #c0e4fc;
    color: #112fd9;
    border-top-left-radius: 10rem;
    border-bottom-right-radius: 10rem ;
    font-weight: bold;
 }
 .cup{
     border: 1px solid #112fd9 ;
     border-top-right-radius: 5rem;
    border-bottom-left-radius: 5rem ;
    margin: 5rem 3rem;
 }
 .dep span, .cal span, .auto span{
     background-color: red;
     color: white;
     cursor: pointer;
 }
 .acct{
     margin: 2rem 1.5rem;
     text-align: center;
     align-items: center;
     justify-content: center;
     position: sticky;
     top: 0;
     background-color: #112fd9;
text-align: center;
color: white;
border-radius: .5rem;
padding: 20px;
width: fit-content;
animation: beam 2.6s infinite ease-in-out;
 }
 @keyframes beam {
     0%{
         transform: scale(.95);
     }
    
     50%{
         transform: scale(.85);
     }
     
     100%{
         transform: scale(.95);
     }
 }
 .beamer{
animation: beam 2.6s infinite ease-in-out;
    margin: 2rem 0rem;
    position: sticky;
    top: 0;
    background-color: #c0e4fc;
    width: 20%;
    padding: .2px 0;
    border-radius: 3rem;
 }
 
 
 header{
     margin: 2rem 1rem;
 }
 .intro {
     text-align: center;
     margin: 4rem 1rem;
     margin-top: 0;
 }

 
 span{
     background-color: #112fd9;
     padding: 1rem 1rem;
     color: white;
     margin: 2rem ;
     cursor: pointer;
 }
 span:hover{
     background-color: #c0e4fc;
     color: #112fd9;
     font-size: 1.5rem;
     font-weight: 500;
     border-radius: 1rem;
    transition: ease-in-out .4s;
    box-shadow:5px 5px 5px 6px #112fd9;
 }

 @media only screen and (max-width:1179px) and (min-width:320px) {
    header{
        justify-content: center;
        gap: 7rem;
    } 
    header span{
        font-size: .6rem;
    }
    .main{
        flex-direction: column  ;
        justify-content: center;
        margin: 5rem 0;
        padding: 0;
    }
    .main img{
        width: 86%;
    }
    .text{
        width: 100%;
        margin: 3rem 0;
        text-align: center;
        padding: 0;
    }
    .info{
        color:red !important;
    }
    .text h1{
        font-size: 1rem;
        text-align: center;
    }
    
    .text p{
        font-size: 1rem;
    }
    .btns{
         margin: .1rem 2rem;
         display: flex;
         flex-direction: column;
     }
     span{
         margin: 1rem 0;
     }
     .wee{
         margin: 5rem 0;
     }
     h1{
         font-size: 22px;
     }
     .box{
         margin: 1rem 1rem;
     }
     .beamer{
        width: 57%;
     }
     .container{
         display: flex;
         flex-direction: column;
         margin: 1rem 0;
         padding: 0;
     }
     .cup{
         margin: 1rem 1rem;
     }
     form{
         width: 60%;
     }
     button{
         font-size: 1rem;
         padding: .5rem 1rem;
     }
     
 }