    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        list-style-type: none;
    }
   body{
       background-color:#022c52;
   }
    .head{
        padding: 3rem;
         background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
         color: white; 
        border-bottom-right-radius: 3rem;
        border-bottom-left-radius: 3rem;
    box-shadow: 0 40px 60px rgb(0 0 0 / 50%);

    }

.logo{
    font-size: 1.2rem;
    margin: .5rem;
    margin: 1rem;
    text-align: center;
}
#acctBal{
    text-align: center;
    font-size: 2.5rem;
}
.grp{
    margin: 3rem;
    display: flex;
    justify-content: space-around;
}
.grp a{
    font-weight: 600;
    color: white;
    font-size: 1.2rem;
}
 .grp label {
    box-shadow: 0 10px 20px rgb(0 0 0 / 50%);
    border: 1px solid white;
     padding: 1rem;
     border-radius: 2rem;
     /* background-image: linear-gradient(to right top, #845EC2, #2C73D2,#0081CF, #0089BA, #008E9B); */
}
.depI{
    color: green;
    font-size: 1.5rem;
}
.depW{
    font-size: 1.5rem;
    color: rgb(189, 8, 8);
}

.cup{
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    padding: 4rem;
    position: absolute;
    left: 25%;
    top: 5%;
    box-shadow: 0 40px 60px rgb(0 0 0 / 50%);
    background-color: white;
    border-radius: 10px;
    animation: left 1s ease-in-out;
}
@keyframes left {
    0%{
        transform: scaleX(0);
    }
    100%{
        transform: scaleX(100%);
    }
}
.deposit, .withdraw, form, .my-3, .wee{
    margin: .7rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
button{
    padding: .5rem;
    text-transform: uppercase;
}
input{
    padding: .8rem;
}
span{
    background-color: red;
    color: white;
    padding: .5rem;
    margin: .5rem;
    border-radius: 1rem;
}

 .dep, .cal, .auto{
    display: none;
}

.statement{
    color: white;
    margin: 2rem;
}
#state{
    margin: 1rem;
}

@media only screen and (max-width:1024px) and (min-width:280px)  {
    .logo{
        font-size: .5rem;
    }
    .grp{
        flex-direction: column;
        gap: 1.5rem;
    }
    .cup{
        left: 1%;
    }
}